.addWord{
    max-width: 300px;
    margin: 10px auto;
    background: var(--color-w-inputHead);
    padding: 16px;

    .addWord_zag{
        font-size: 25px;
    }

    .addWord_input{
        margin: 10px 0;

        display: block;
        width: 100%;
        height: calc(2.25rem + 2px);
        padding: 0.375rem 0.75rem;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .addWord_btn{
        width: 100%;
        padding: 10px 20px;
        font-family: inherit;

        border: 1px solid #bdbdbd;
        border-radius: 0.25rem;
    }
}