
.message{
    display: none;

    position: absolute;

    gap: 1rem;
    bottom: 15px;
    right: 20px;
    width:300px;
    min-height:100px;
    /*background: rgba(107,103,103,.5);*/
    background: rgba(2, 124, 250, 0.5);

    padding:5px;
    border-radius: 10px;
    border: #0303f8 3px solid;
    align-items: center;

    .message_content{

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .message_content_top{
            font-size: 25px;
            color: #ffffff;
        }

        .message_content_text{
            font-size: 17px;
            color: #ffffff;
        }

    }

}
.message::after {
    content: "";
    position: absolute;
    bottom: 5px;
    right: -21px; /* Выносим за пределы основного блока */
    width: 20px;
    height: 20px;
    /*background-color: #504f4f;*/
    background: #0303f8;

    /* Магия формы хвостика через mask или clip-path */
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    /* Чтобы хвостик плавно выходил из блока, можно немного подправить радиус */
    /*border-bottom-right-radius: 10px;*/
}


.message-error{
    background: rgba(250, 2, 2, 0.5);
    border: #f8030b 3px solid;
    .message_content_top{
        font-size: 25px;
        color: #00040c;
    }

    .message_content_text{
        font-size: 17px;
        color: #00040c;
    }

}
.message-error::after {
    background: #f8030b;
}

.message-visible{
    display: flex;
}